/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

* {
	margin: 0;
	padding: 0;

}

body {
	font-family: Arial, Helvetica, sans-serif;

}

#mainpage {

	width: 950px;
	margin: auto;

}

nav {
	background: #eee;
	height: 30px;
	padding-left: 15px;
	/*border-bottom-style: solid;
	border-bottom-color: #4682B4;
	border-bottom-width: 5px;*/
		
}

nav ul {
list-style-type:none;
margin:0;
padding:0;
}

nav ul li {
display:inline;

}


nav ul li a {
	text-decoration:none;
	color: black;
	line-height: 30px;

}

#header {
	margin-top: 10px;
	height: 80px;
	background: #eee;
	line-height: 80px;
	padding-left: 15px;
	border-bottom-style: solid;
	border-bottom-color: #4682B4;
	border-bottom-width: 5px;
	
}

#content {
	padding: 50px;

}


